<div class="pb-3">
    <button [routerLink]="['/product/form']" type="button" class="btn btn-success">
        <i class="fa fa-plus"></i> Novo Produto
    </button>
</div>
<div class="box" style="margin-top:10px">
    <div class="box-header">
        <h3 class="box-title">Produtos</h3>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Descrição</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td class="col-md-3">{{product.nome}}</td>
                    <td class="col-md-7">{{product.descricao}}</td>
                    <td class="col-md-2 text-center">
                        <button type="button" class="btn btn-default btn-sm"
                            [routerLink]="['/product/view/', product.id]" title="Visualizar {{product.nome}}">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                            [routerLink]="['/product/alter', product.id]" title="Alterar {{product.nome}}">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(product.id)"
                            title="Excluir {{product.nome}}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
        </table>
    </div>
</div>
