<form [formGroup]="productForm" novalidate>
    <div class="form-group row">
        <div class="col-md-1">
            <label for="ID">ID</label>
            <input type="text" class="form-control text-muted" name="id" formControlName="id" readonly>
        </div>
        <div class="col-md-11">
            <label for="Nome">Categoria</label>
            <input type="text" class="form-control text-muted" name="nome" formControlName="nome" readonly>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="Marca">Marca</label>
            <input type="text" class="form-control text-muted" name="marca" formControlName="marca" readonly>
        </div>
        <div class="col-md-4">
            <label for="Descricao">Descrição</label>
            <input type="text" class="form-control text-muted" name="descricao" formControlName="descricao" readonly>
        </div>
        <div class="col-md-4">
            <label for="Descricao">Preço</label>
            <input type="text" class="form-control text-muted" name="preco" formControlName="preco" readonly>
        </div>
    </div>
    <button class="btn btn-outline-primary" [routerLink]="['/product/alter/', product.id]">
        Alterar
    </button>
    <button class="btn btn-outline-secondary" [routerLink]="['/product/list']">
        Cancelar
    </button>
</form>

<!-- <span> {{productForm.value | json}}</span> -->