<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Preço Unidade</th>
      <th scope="col">Preço Total Produto</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of lista()">
      <td>
        <div class="mt-1">{{p.produto.nome}}</div>
      </td>
      <td>
        <div class="mt-1">{{p.valorUnitario}}</div>
      </td>
      <td>
        <div class="mt-1">{{p.produto.preco}}</div>
      </td>
      <td>
        <div class="mt-1">{{p.quantidade}}</div>
      </td>
      <td>
        <button type="button" class="btn btn-outline-success btn-sm" (click)="atualizandoItem(p.produto, 1)">
          <i class="material-icons center-button">add</i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="atualizandoItem(p.produto, 0)">
          <i class="material-icons center-button">remove</i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(p.index)">
          <i class="material-icons center-button">delete_forever</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h5 class="text-right mt-2">Preço Total: R$ {{valorTotal}}.00</h5>