<div>
    <button [routerLink]="['/category/form']" type="button" class="btn btn-success">
        <i class="fa fa-plus"></i> Nova Categoria
    </button>
</div>
<div class="box" style="margin-top:10px">
    <div class="box-header">
        <h3 class="box-title">Categorias</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categorys">
                    <td class="col-md-10">{{category.nome}}</td>
                    <td class="col-md-2 text-center">
                        <button type="button" class="btn btn-default btn-sm"
                            [routerLink]="['/category/view/', category.id]" title="Visualizar {{category.nome}}">
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                            [routerLink]="['/category/alter', category.id]" title="Alterar {{category.nome}}">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(category.id)"
                            title="Excluir {{category.nome}}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->