<!-- <div class="text-center">
    <img src="../../assets/apple1.png" alt="Logo" width="500">
    <h1>Bem vindo!</h1>
    <h4>Descubra o mundo inovador da Apple!</h4>
</div> -->

<div class="mb-5 row">
    <div class="col-md-4 mt-2" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center"><a [routerLink]="['/product/view/', product.id]">{{product.nome}}</a></h5>
                <p class="card-text">{{product.descricao}}</p>
                <h4 class="card-text">
                    <b>R$ {{product.preco}}.00</b>
                </h4>
                <a href="#" class="btn btn-primary" (click)="enviandoAoCarrinho(product)">Comprar</a>
            </div>
        </div>
    </div>
</div>