<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let product of products">
        <div class="info-box pl-2">
            <div class="info-box" >
                <span class="info-box-icon bg-blue"><i class="fa fa-mobile"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">{{product.nome}}</span>
                    <span class="info-box-text">{{product.descricao}}</span>
                    <span class="info-box-number">{{product.preco | currency:'BRL':'symbol':'1.2-2'}}</span>
                    <a class="btn btn-success" (click)="enviandoAoCarrinho(product)">
                        <i class="fa fa-cart-plus"></i> 
                        Adicionar à Lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>